// ==========================================================================
//   Syntax highlighting
//   ------------------------------------------------------------------
//   Acquired from (sylhare/Type-on-Strap):
//   >> https://github.com/sylhare/Type-on-Strap/blob/master/_sass/base/_highlight.scss
// ==========================================================================

.highlight {
  border-radius: 0.3rem;
  background-color: $base00 !important;
}

div.highlighter-rouge,
figure.highlight,
.highlight code {
  position: relative;
  color: $base05;
  font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, sans-serif;
  font-size: 0.85em;
  line-height: 1.3em;
  border-radius: 0.3rem;

  > pre,
  pre.highlight {
    margin: 0;
    padding: 1em;
    border-color: $base02;
  }
}

li .highlight * {
  font-size: 14px;
}

pre .rouge-table,
.highlight pre,
.code pre {
  margin: 0;
  overflow: auto;
}

.rouge-table * {
  font-size: 1em;
}

li div.highlighter-rouge {
  margin-top: 0.5em;
}

div.highlighter-rouge,
figure.highlight {
  margin-bottom: 1em;
}

code.highlighter-rouge {
  padding: 0.2em 0.4em;
  font-size: 0.85em;
  background-color: transparentize($base04, 0.8);
  color: rgb(36, 41, 46);
  border-radius: 0.3rem;
  font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, sans-serif;
}

table.rouge-table {
  margin-bottom: 0;
  font-size: 1em;
  width: 100%;
  border: 0;

  td {
    padding: 0;
    width: calc(100% - 1em);
    border: 0;
    /* line numbers*/
    &.gutter,
    &.rouge-gutter {
      padding-right: 1em;
      width: 2em;
      color: $base04;
      border-right: 1px solid $base04;
      text-align: right
    }

    /* code */
    &.code,
    &.rouge-code {
      padding-left: 1em
    }
  }

  pre {
    margin: 0
  }
}

.highlight pre {
  width: 100%;
}

.highlight .hll {
  background-color: $base06
}

.highlight {
  .c,   /* Comment */
  .c1,  /* Comment.Single */
  .cd,  /* Comment.Docs */
  .ch,  /* Comment.Hashbang */
  .cm,  /* Comment.Multiline */
  .cp,  /* Comment.Preproc */
  .cpf, /* Comment.Preproc.File */
  .cs { /* Comment.Special */
    color: $base04;
  }

  .gd { /* Generic.Deleted */
    color: $base08; }
  .gi { /* Generic.Inserted */
    color: $base0B; }

  .gr { /* Generic.Error */
    color: $base0F }
  .gt { /* Generic.Traceback */
    color: $base0D }

  .ge { /* Generic.Emph */
    font-style: italic; }
  .gs { /* Generic.Strong */
    font-weight: bold; }

  .gp { /* Generic.Prompt */
    color: $base04;
    font-weight: bold; }
  .go { /* Generic.Output */
    color: $base04; }

  .gh { /* Generic.Heading */
    color: $base05;
    font-weight: bold; }
  .gu { /* Generic.Subheading */
    color: $base0C;
    font-weight: bold; }

  .k,  /* Keyword*/
  .kc, /* Keyword.Constant */
  .kd, /* Keyword.Declaration */
  .kp, /* Keyword.Pseudo */
  .kr { /* Keyword.Reserved */
    color: $base0E; }
  .kn { /* Keyword.Namespace */
    color: $base0C; }
  .kt { /* Keyword.Type */
    color: $base0A; }

  .esc { /* Escape */
    color: $base0C; }
  .err { /* Error */
    color: $base08; }

  .l {  /* Literal */
    color: $base09; }
  .ld { /* Literal.Date */
    color: $base0B; }

  .m,   /* Literal.Number */
  .mb,  /* Literal.Number.Binary */
  .mf,  /* Literal.Number.Float */
  .mh,  /* Literal.Number.Hex */
  .mi,  /* Literal.Number.Integer */
  .il,  /* Literal.Number.Integer */
  .mo,  /* Literal.Number.Oct */
  .mx { /* Literal.Number.Other */
    color: $base09; }

  .s { /* Literal.String */
    color: $base0B; }
  .sa { /* Literal.String.Affix */
    color: $base0B; }
  .sb { /* Literal.String.Backtick */
    color: $base0B; }
  .sc { /* Literal.String.Char */
    color: $base05; }
  .dl { /* Literal.String.Delimiter */
    color: $base05; }
  .sd { /* Literal.String.Doc */
    color: $base04; }
  .s2 { /* Literal.String.Double */
    color: $base0B; }
  .se { /* Literal.String.Escape */
    color: $base09; }
  .sh { /* Literal.String.Heredoc */
    color: $base0B; }
  .si { /* Literal.String.Interpol */
    color: $base09; }
  .sx { /* Literal.String.Other */
    color: $base0B; }
  .sr { /* Literal.String.Regex */
    color: $base0B; }
  .s1 { /* Literal.String.Single */
    color: $base0B; }
  .ss { /* Literal.String.Symbol */
    color: $base0B; }

  .n { /* Name */
    color: $base05; }
  .na { /* Name.Attribute */
    color: $base0D; }
  .nb { /* Name.Builtin */
    color: $base05; }
  .bp { /* Name.Builtin.Pseudo */
    color: $base05; }
  .nc { /* Name.Class */
    color: $base0A; }
  .no { /* Name.Constant */
    color: $base08; }
  .nd { /* Name.Decorator */
    color: $base0C; }
  .ni { /* Name.Entity */
    color: $base05; }
  .ne { /* Name.Exception */
    color: $base08; }
  .nf { /* Name.Function */
    color: $base0D; }
  .fm { /* Name.Function.Magic */
    color: $base0D; }
  .nl { /* Name.Label */
    color: $base05; }
  .nn { /* Name.Namespace */
    color: $base0A; }
  .nx { /* Name.Other */
    color: $base0D; }
  .py { /* Name.Property */
    color: $base05; }
  .nt { /* Name.Tag */
    color: $base0C; }
  .nv { /* Name.Variable */
    color: $base08; }

  .o { /* Operator */
    color: $base0C; }
  .ow {  /* Operator.Word */
    color: $base0C; }

  .p { /* Punctuation */
    color: $base05; }
  .w { /* Text.Whitespace */
    color: $base05; }

  .v { /* Name.Variable */
    color: $base08; }
  .vc { /* Name.Variable.Class */
    color: $base08; }
  .vg { /* Name.Variable.Global */
    color: $base08; }
  .vi { /* Name.Variable.Instance */
    color: $base08; }
  .vm { /* Name.Variable.Magic */
    color: $base0D; }
}

// Fix Github syntax display
.gist .blob-num {
  width: 3.5% !important;
}

.gist {
  th, td {
    border-bottom: 0;
  }
}

// Fix nbconvert dataframe
.dataframe tbody {
  font-size: 0.8em;
  border-color: white;

  tr {
    :nth-child(even) {
      background-color: $base06;
    }

    th {
      border-top: 0;
      border-left: 0;
      border-bottom: 0;
    }


    td {
      padding: 0;
      border: 0;
      text-align: center;
    }
  }


}

.dataframe thead tr {
  :nth-child(n+2) {
    color: black;
    font-size: 0.75em;
    text-align: center !important;
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }

  :first-child {
    border-top: 0;
    border-left: 0;
  }

}

table.dataframe {
  border: 0 solid $border-color;
  border-collapse: collapse;
}
