// Headers
$header-heading-color: #fff !default;
$header-bg-color: #FA406A !default; // Radical Red
$header-bg-color-secondary: #FA904F !default; // Mango Tango

// Text
$section-headings-color: #159957 !default;
$body-text-color: #606c71 !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #819198 !default;

// Dark Mode
$dark-bg-color: #272838 !default;
$dark-body-text-color: #F8F7F9 !default;
$dark-body-link-color: #5ABCDE !default; // Maximum Blue
$dark-section-headings-color: #06D6A0 !default; // Carribean Green
$dark-blockquote-text-color: #CEBACF !default; // Thistle

// Dark Headers Theme
$dark-header-bg-color: #5F4BB6 !default; // Plump Purple
$dark-header-bg-color-secondary: #FA406A; // Radical Red
