// Headers
$header-heading-color: #fff !default;
$header-bg-color: #FA406A !default; // Radical Red
$header-bg-color-secondary: #FA904F !default; // Mango Tango

// Text
$section-headings-color: #159957 !default;
$body-text-color: #606c71 !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #819198 !default;
