// =============================================================================
// Base16 Hi-Mageria - Night Purple eye-friendly syntax highlighter
// =============================================================================
// Pre-adapted from ChaniVibes + Mageria + Marnetta for Base16 Theme
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// -----------------------------------------------------------------------------
$base00: #1b1a21;
$base01: #25252d;
$base02: #514660;
$base03: #67577a;
$base04: #9c82a5;
$base05: #d0acd0;
$base06: #e1cede;
$base07: #f1f0ec;
$base08: #e64629;
$base09: #fd823e;
$base0A: #f2cf1f;
$base0B: #aae629;
$base0C: #62dda4;
$base0D: #1dbaa4;
$base0E: #e683a9;
$base0F: #736c99;
// -----------------------------------------------------------------------------